# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Backup files
*~

# Main executable files
Main

# Swap files
.*.swp

# LaTeX Intermediate Files
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb

*.bbl
*-blx.bib
*.blg
*.run.xml
